<h1> Log In </h1>

<form method="POST" action="/login">
    Username: <input type="text" name="user[username]"><br>
    Password: <input type="password" name="user[password]"><br>
    <input type="submit" value="Log In">
</form>

<br>
<h4> New User? <a href="/signup"> Click here to Sign Up! </a> </h4>