<h1> Sign Up! </h1>

<h5 style="color:red;"><%= @errors %></h5>
<form method="POST" action="/signup">
    Create a Username: <input type="text" name="user[username]"><br>
    Create a Password: <input type="password" name="user[password]"><br>
    <input type="submit" value="Create User">
</form>