<h1> Clients </h1>

<ul><% @clients.each do |client| %>
    <li><a href="/clients/<%= client.id %>"><%= client.name %></a></li>
<% end %></ul>
<br>
<h4><a href="/clients/new"> Add New Client </a></h4>